body{
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 500px;
    height: 350px;
    background-color: rgb(13, 20, 31);
    font-family: sans-serif;
    color: white;
    border-radius: 15px;
    user-select: none;
    margin-top: 190px;
    box-shadow: 0px 5px 20px 3px rgb(44, 69, 108);
}

h1{
    font-size: 2.5rem;
    position: relative;
    margin-left: 150px;
    margin-bottom: 10px;
    margin-top: 35px;
}

p{
    font-size: 16px;
    margin-top: 20px;
    margin-left: 10px;
}

.dayInput{
    width: 90px;
    height: 27px;
    margin-top: 10px;
    margin-left: 50px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
}

.monthInput{
    width: 90px;
    height: 27px;
    margin-top: 10px;
    margin-left: 200px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
}

.yearInput{
    width: 90px;
    height: 27px;
    margin-top: 10px;
    margin-left: 350px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
}

button{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-size: larger;
    font-weight: 700;
    background-color: rgb(59, 92, 144);
    margin-left: 175px;
    margin-top: 65px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.1s;
}

button:hover{
    background-color: rgb(68, 108, 171);
}

button:active{
    background-color: rgb(77, 118, 185);
}

.result{
    color: whitesmoke;
    font-size: larger;
}